<div class="row">
    
  @for (p of productsCard; track p) {
  <div class="card"[ngClass]="{
    'col-md-3': typeChangeCard === 'grid', 
    'col-md-12': typeChangeCard === 'list',
    'cardSize': typeChangeCard === 'list',
    'mt-3':typeChangeCard==='list'
  }">
  > 
    <img [src]="p.img" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{p.name}}</h5>
      <p class="card-text">{{p.description}}</p>
      <div class="d-flex justify-content-between align-items-center">
        <small style="color: blue;"><span>{{p.price | currency: 'MXN'}}</span></small>
        <button type="button" class="btn btn-primary">Agregar al carrito</button>
      </div>
    </div>
  </div>
}